body {
    background-color: rgb(179, 126, 228);
}


.btn-container{
    padding: 10px;
    text-align: center;
    width: 800px;
    margin: 30px auto;
    color: white;
}

#start,#stop,#reset {
    border: solid 1px white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    background: none;
    color: white;
}

#start:hover, #stop:hover, #reset:hover {
    background-color: black;
}

h1, p {
    text-align: center;
}

#seconds, #tens {
    font-size: 50px;
}